{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
            <li><a href="{% url 'list_projects' %}">My projects</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Signout</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    <div>
        <h1>My Tasks</h1>
        {% if task_object.all|length != 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                        <th>Task</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_object.all %}
                    <tr>
                        <td>{{task.name}}</td>
                        <td>{{task.start_date}}</td>
                        <td>{{task.due_date}}</td>
                        <td>{{task.is_complete|yesno:"Yes, No"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
       {% else %}
       <p>You have no tasks</p>
       {% endif %}
    </div>
</main>
{% endblock content %}
