{% extends 'base.html' %}

{% block content %}

<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
            <li><a href="{% url 'list_projects' %}">My projects</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Signout</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    <div>
        <h1>My Projects</h1>
        <p><a href="{% url 'create_project' %}">Create a new project</a></p>
        {% if projects|length == 0 %}
            <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <tr>
                <th>Name</th>
                <th>Number of tasks</th>
            </tr>
        <tbody>
            {% for item in projects %}
            <tr>
                <td><a href="{% url 'show_project' item.id %}">{{ item.name }}</a></td>
                <td>{{  item.tasks.all|length }}</td>
                {% endfor %}
            </tr>
        </tbody>
        </table>
        {% endif %}
    </div>
</main>

{% endblock content %}
